*{
    margin: 0;
    padding: 0;
    font-family: 'Aboreto', cursive;
}

.nav{
    background-color: black;
    
    padding: 26px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;

}


a{

    text-decoration: none;
    color: white;
    margin: 10px;  
}

.hoover_nav{
    background-color: black;
    color: white;
    padding: 26px;
    transition: 0.5s;
    font-size: 24px;
    
    
}
.hoover_nav:hover{
    background-color: white;
    transition: 0.5s;
    font-size:25px ;
    color: black;
}

.h1{
    text-align: center;
    font-size: 4rem;
    margin-top: 40px;
    margin-bottom: 20px;
}
.aside{
    background-color: black;
    color: white;
 
    font-size: 30px;
    position: fixed;
    top: 80px;
    left: 0%;
    width: 20%;
    bottom: 0px;

}
#contenido{
    
    position: fixed;
    top: 80px;
    left: 23%;
    width: 74%;
    bottom: 20px;
    overflow: scroll;
    
}
.div_imagenes{
    display: flex;
    justify-content: center;
}
.imagenes{
    
    
    width: 300px;
    height: 300px;
}
.h2{
    margin-top: 15px;
    font-size: 34px;
    text-align: center;
    
}
.info_aside{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
.info{
    display: grid;
    grid-template-columns:repeat(3 , 2fr);
    gap: 25px;
}
.info p{
    font-size: 22px;
}
.navegacion_aside{
    text-align: center;
    margin-top: 20px;
}







.footer{
    background-color: black;
    color: white;
    font-size: 30px;
    position: fixed;
    text-align: center;
    left: 10%;
    height: 6%;
    width: 100%;
    bottom: 0px;
    font-size: 13px;

}
#div_footer{
    margin-top: 10px;
}